body {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/996/405/274/movie-carrie-2013-wallpaper-preview.jpg);
  background-size: cover;
  background-color: black;
}

div {
  border-radius: 15px 50px 30px 5px;
  background-color:rgb(100, 100, 100, .7);
  color: white;
} 

p, h1, h2{
  color: white;
}

a{
  color: inherit;
}

.apartados {
  background-color:rgb(100, 100, 100, .9);
  font-family: 'sans-serif';
  font-size: 150%;
  padding: 15px;
  color: #fff;
}

/* Oculta block de texto */
input.i-text, textarea {
    display: none;
  }
  /* Muestra block de texto en caso de Sí */
  input.i-radio[value="texto"]:checked ~ textarea {
    display: block;
    margin: 0px 740px 0px 0px; 
    height: 16px; 
    width: 165px;
  }